@CHARSET "UTF-8";
#active{
	width:auto;
	height:300px;
	border:2px solid #ccc;
	font-size:12px;
}
#active h2{
	text-indent:0;
	text-align:center;
	margin:0 0 10px 0;
}
#active p{
	text-aligin:center;
	padding:5px;
}