@CHARSET "UTF-8";
#list{
	width:600px;
	height:514px;
	border:2px solid #ccc;
	float:right;
	
}
#user{
	width:340px;
	height:250px;
	border:2px solid #ccc;
	float:left;
	margin:0 0 10px 0;	
}
#pic{
	width:340px;
	height:250px;
	border:2px solid #ccc;
	float:left;	
}