@CHARSET "UTF-8";
#login{
	width:auto;
	height:300px;
	border:2px solid #ccc;
	font-size:12px;
}
#login h2{
	text-indent:0;
	text-align:center;
	margin:0 0 10px 0;
}
#login p{
	text-aligin:center;
	padding:5px;
}
#login dl{
	width:400px;
	margin:0 auto;
}
#login dl dt{
	text-align:center;
	padding:10px 0;
	font-weight:bold;
}
#login dl dd{
	padding:5px 0;
	
}

#login dl dd input.text{
	width:200px;
	height:19px;
	border:1px dashed #333;
	backgroud:#fff;
}
#login dl dd img#code{
	position:relative;
	top:8px;
	left:4px;
	cursor:pointer;
}
#login dl dd input.button{
	width:60px;
	height:19px;
	border:1px dashed #333;
	backgroud:#fff;
	cursor:pointer;
	margin:0 0 0 60px;
}
#login dl dd input.location{
	margin:0 0 0 10px;
}